# Ignore environment
__pycache__/

.vscode/

# Ignore all files in logs but keep the folder
logs/*
!logs/

# Ignore all files in models but keep the folder


# Ignore all files in configs except example.yaml


examples/outputs/*
examples/tmp
models/*
!models/
models.zip
